.admin-container{
    display: flex;
    width: 100vw;
    .admin-sidebar{
        height: 100vh;
        
    }
    .admin-contents{
        flex:100%;
        background-color: #fefffe;
        flex-direction: column; 
    }
    .admin-content{
        background-color: #fbfbfb;
    }
}
.admin-header{
    background-color: #f7faf9;
    align-items: center;
    transition: 0.3s; 
    .admin-right{
      display: flex;
      justify-content: end;
      margin-right: 50px;
      align-items: center;
    }
}
.admin-header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Đảm bảo header nằm trên cùng khi cố định */
  }