
.admin-sidebar {
   max-width: 280px;
   min-width: 80px;
   width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
//   overflow: auto;
    .pro-sidebar {
   width: 100%;
    bottom: 0;
    top: 0;
    .pro-sidebar .collapsed{
      width: 80px !important;
    }
    .pro-sidebar-inner{
      height: 100%;
    }
    }
}
 .admin-contents{
  padding-left: 280px;
   width: 80%;
   
 }
.admin-header{
   width: 100%;
   position: sticky;
   top: 0;
   z-index: 2;
}
 .pro-sidebar-footer{
   margin-bottom: 50px;
     .sidebar-btn-wrapper{
        position: absolute;
        right: 0;
        left: 0;
        

    }
 }

 .admin-container .admin-sidebar{
  //  height: auto !important;
    width: 100%;
 }


 @media screen and (max-width:768px){
    .admin-contents {
       padding-left: 270px;
    }
    .admin-sidebar{
        &.md{
            left: 0;
        }
     .pro-sidebar.md{
        left: 0;
     }
    }
    .ant-btn{

    }
 }

 .col-auto{
   width: 100%;
   .admin-container{
     display: flex;
      width: 100%;
     flex-wrap: nowrap;

   }
 }

 body {
   position: relative;
 }
 .pro-sidebar-layout::after{
  scroll-behavior: smooth!important;
 }
.pro-sidebar-layout::-webkit-scrollbar{
  width: 8px;

}
.pro-sidebar-layout::-webkit-scrollbar-thumb{
  background-image: linear-gradient(to bottom, #30ffd6,#fc4e8b);
  border-radius: 100rem;
}
.pro-sidebar-layout::-webkit-scrollbar-track{
  background-color: white;
  background-origin: 100rem;
}
// .admin-sidebar {
//   //  height: auto;
  
//     .pro-sidebar {
//     bottom: 0;
//     top: 0;
   
//     }
// }
//  .admin-contents{
//    // padding-left: 270px;

//  }

//  .pro-sidebar-footer{

//      .sidebar-btn-wrapper{
//         position: absolute;
//         bottom: 0;
//         right: 0;
//         left: 0;
        

//     }
//  }

//  .admin-container .admin-sidebar{
//     height: auto !important;
    
//  }


//  @media screen and (max-width:768px){
//     .admin-contents {
//        padding-left: 270px;
//     }
//     .admin-sidebar{
//         &.md{
//             left: 0;
//         }
//      .pro-sidebar.md{
//         left: 0;
//      }
//     }
//     .ant-btn{

//     }
//  }

