// // .css-dev-only-do-not-override-2i2tap{
// // .TimelineEvent-container-21 {
// //         svg {
// //             height: 100%;
// //         }
// //     }
// // }

// .TimelineEvent-container-21 {
//     svg {
//         width: 215px;
//     }
// }
// .TimelineEvent-icon-22 {
//     left: 0 !important;
// }

// .TimelineEvent-icon-5 {

//     left: 0 !important;
// }
// .TimelineEvent-container-38 {
//     svg {
//         width: 215px;
//     }
// }
// .TimelineEvent-icon-39 {

//     left: 0 !important;
// }
// .TimelineEvent-container-55 {
//     svg {
//         width: 215px;
//     }
// }

// .TimelineEvent-icon-56 {

//     left: 0 !important;
// }
// .TimelineEvent-container-123 {
//     svg {
//         width: 215px;
//     }
// }

// .TimelineEvent-icon-124 {

//     left: 0 !important;
// }
.TimelineEvent-container- {
    svg {
        width: 215px;
    }
}

.TimelineEvent-icon- {

    left: 0 !important;
}
